.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0;
    color: $White;
    &::marker {
        color: transparent;
    }
    cursor: grabbing;
}
.gu-hide {
	display: none !important;
    
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
    cursor: grabbing;

}
.gu-transit {
	opacity: 1;
    background-color: $DarkGrey;
    transition: transform   .2s ease;
    transform: scaleY(1.05);
}



.table__clone,
.sort__list {
	
	.gu-mirror {
		position: fixed !important;
		margin: 0 !important;
		z-index: 9999 !important;
		opacity: 0;
		color: $White;
		background-color: pink;
		&::marker {
			color: transparent;
		}
		cursor: grabbing;
	}
	.gu-hide {
		display: none !important;
		
	
	}
	.gu-unselectable {
		-webkit-user-select: none !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		user-select: none !important;
		cursor: grabbing;
	
	}
	.gu-transit {
		opacity: 1;
		background-color: transparent;
		transition: transform   .2s ease;
		transform: scaleY(1.05);
		position: relative;
		 &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
			z-index: 10;
			background: 
			linear-gradient(90deg, $LightGreyBlue 50%, transparent 0) repeat-x,
			linear-gradient(90deg, $LightGreyBlue 50%, transparent 0) repeat-x,
			linear-gradient(0deg, $LightGreyBlue 50%, transparent 0) repeat-y,
			linear-gradient(0deg, $LightGreyBlue 50%, transparent 0) repeat-y,
			$White;
			background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
			background-position: 0 0, 0 100%, 0 0, 100% 0;
			animation: linearGradientMove .5s infinite linear ;
        }
	}

}


@keyframes linearGradientMove {
    100% {
        background-position: 15px 0, -15px 100%, 0 -15px, 100% 15px;
    }
} 




.table {
	border-collapse: collapse;
}

.draggable {
	cursor: move;
	user-select: none;
}
.placeholder {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: 
		linear-gradient(90deg, $LightGreyBlue 50%, transparent 0) repeat-x,
		linear-gradient(90deg, $LightGreyBlue 50%, transparent 0) repeat-x,
		linear-gradient(0deg, $LightGreyBlue 50%, transparent 0) repeat-y,
		linear-gradient(0deg, $LightGreyBlue 50%, transparent 0) repeat-y,
		$White;
		background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
		background-position: 0 0, 0 100%, 0 0, 100% 0;
		animation: linearGradientMove .5s infinite linear ;
	}
}
.clone-list {

	display: flex;
}
.clone-table {
	border-collapse: collapse;
	border: none;
	display: flex;
    flex-direction: column;
	td {
		margin-bottom: 5px;
	}
}
tr {
	min-height: 45px;
}
.clone-table tr td {
height: 38.5px;
padding: 5px 10px;
}
.dragging {
	background: #fff;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: 999;
}