.body__wrapper {
    display: flex;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    background-color: $PaleGrey;
    padding: 25px 25px 0 25px;
    overflow: auto;
    font-family: 'MyriadPro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    .main__title {
        margin-bottom: 22px;
        color: $Black;
        font-size: 30px;
        letter-spacing: 1px;
    }
    .main__nav {    
        margin-bottom: 22px;
        position: relative;

        .main__nav-list {
            display: flex;

            .main__nav-item {
                display: none;
                &.main__nav-item--active {
                    display: inline-block;
                }
                &:not(:last-of-type) {
                    margin-right: 15px;
                }
                .main__nav-link {
                    font-size: 16px;
                    font-weight: 600;
                    color: $LightNavy;
                    &.main__active-link {
                        color: $Black;
                    }
                }
            }
        }
    }
}
.wrapper {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: solid 1px $PaleGreyTwo;

}
.main__add {
    padding: 20px 25px;
    width: 100%;
    margin-bottom: 25px;
    .add__btn {
        padding: 9px 13px;
        color: $White;
        background-color: $DodgerBlue;
        font-size: 14px;
        border-radius: 5px;
        &::before {
            content: url(../img/svg/add.svg);
            margin-right: 7px;
        }
    }
}

.table {
    width: 100%;
    border-spacing: 0px;
    min-height: 100%;
    tbody td {
        padding: 5px 10px;
        text-align: left;
        vertical-align:middle;
    }

}
.table__scroll {
    width: 100%;
    height: 100%;
}
.thead {
    position: relative;
    text-align: start;
    padding: 14px 10px;
    border: 1px solid $PaleGreyTwo;
}

.tr__id-wrapper {
    display: flex;
    .tr__btn-drag {
        min-width: 11px;
        height: 12px;
        margin-right: 5px;
        position: relative;
        opacity: 0;
        transition: opacity .2s ease;
        &::before {
            content: url(../img/svg/btnDrag.svg);
        }
        &:hover {
            opacity: 1;
            cursor: grab;
        }
    }
}
.tr__btn-action {

    &::before {
        content: url(../img/svg/tripleDots.svg);
    }
}

.cell__wrapper {
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    border: solid 1px $PinkishGrey;
    background-color: $White;
}
.table__wrapper {
    position: relative;
    padding-bottom: 195px;
    padding-top: 40px;
    input {
        width: 100%;
        overflow: hidden;
    }
}
.table__change {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    align-items: center;
    width: 100%;
    .save__change-btn {
        margin-right: 20px;
        font-size: 12px;
        color: $LightGreyBlue;
        display: none;
    }
    .btn__setting {
        padding-top: 4px;
        position: relative;
    }
}
.table__total {
    position: absolute;
    right: 15px;
    bottom: 25px;
    width: 304px;
    font-size: 14px;
    font-weight: normal;
    .total__detail {
        padding: 15px;
        border-radius: 5px;
        border: solid 1px $PaleGreyTwo;
        background-color: #fbfcfd;
        margin-bottom: 5px;
        
        .total__local {
            display: flex;
            justify-content: space-between;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            .total__title {
            color: $WarmGrey;
            
            }
            .total__num {
                
            }
        }
    }
    
  
    .total__glob {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 5px;
        border: solid 1px $PaleGreyTwo;
        background-color: #fbfcfd;
        color: $Black;
        .total__title-glob {
            
        }
        .total__num-glob {
            font-weight: 600;  
        } 
    }
   
}

.label__name {
    position: relative;

    .products__list {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: 5;
        width: 100%;
        @include ElementHide;

        &.cell__wrapper {
            padding: 0;
            li {
                padding: 7px 10px;
            }
        }

        &.products__list--active {
            @include ElementVisible;
        }
    }
}


.btn__setting {
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    transition: transform .2s ease;
    #filling {
        transition: fill .2s ease;
    }
    &.btn__setting--active {
        transform: rotate(-45deg);
        transform-origin: 8px 8px;
        #filling {
            fill: #2f8cff;
        }
    }
    &:hover {
        transform: rotate(-45deg);
        transform-origin: 8px 8px;
        #filling {
            fill: #2f8cff;
        }
    }
}

.setting__list {
        position: absolute;
        top: 100%;
        right: 15px;
        z-index: 10;
        @include ElementHide;
    &.cell__wrapper {
        padding-right: 15px;
    }
    &.setting__list--active {
        @include ElementVisible;
    }
    .setting__item {
        cursor: pointer;
    }

}



.hide {
    display: none;
}

.action__wrapper{
    position: relative;
    .delete {
        position: absolute;
        bottom: 0;
        left: 10px;
        @include ElementHide;
        &.cell__wrapper {
            padding-right: 15px;
        }
        &.delete--active {
            @include ElementVisible;
        }
    }
}
.view__list {
    display: none;
    &.view__list--active {
        display: block;
    }
}
.sort__list {
    display: none;
    &.sort__list--active {
        display: block;
    }
    .sort__el {
        display: none;
        &:hover {
            cursor: grab;
            .sort__btn-drag {
                opacity: 1;
            }
        }
    }
    .sort__btn-drag {
        min-width: 11px;
        height: 12px;
        margin-right: 5px;
        position: relative;
        opacity: 0;
        transition: opacity .2s ease;
        &:hover {
            cursor: grab;
        }
        &::before {
            content: url(../img/svg/btnDrag.svg);
            width: 100%;
            height: 100%;
        }
        
    }
}

.view__el {
    display: flex;
    width: 100%;
    align-items: center;
    input {
        width: 20px;
        height:20px;
    }
    label {
        display: flex;
        align-items: center;
    }
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}






table {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
            flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: repeat(7, minmax(40px, 1fr));
      grid-auto-rows: 45px;
  }
   
  thead,
  tbody,
  tr {
    display: contents;
  }
   th {
    overflow: hidden;
   }
  th,
  td {
    
    text-overflow: ellipsis;
    white-space: nowrap;
  }
   
  th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    position: relative;
  }
   

   
  .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
  }
   
  .resize-handle:hover,
  .header--being-resized .resize-handle {
    opacity: 0.5;
  }
   
  th:hover .resize-handle {
    opacity: 0.3;
  }
   