$Black : #000000;
$MenuDark : #1c2734;
$SubMenuText: #A6B7D4;
$SubMenuBack: #1F344A;
$ActiveTab: #FD8301;
$WhiteTwo: #f6f5f3;
$White: #fff;
$DarkGreyBlue: #2c3d51;
$DarkGrey: #1f2123;
$PaleGrey: #fbfcfd;
$PaleGrey2: #eef3f8;
$LightNavy: #1253a2;
$DodgerBlue: #2f8cff;
$PaleGreyTwo: #eeeff1;
$PinkishGrey: #ccc;
$WarmGrey: #8f8f8f;
$LightGreyBlue: #a6b7d4;


@mixin ElementHide {
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease, opacity .2s ease .2s;
}
@mixin ElementVisible {
    visibility: visible;
    opacity: 1;
}


